*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);

  font-size: 15px;
  line-height: 22px;

  background-color: var(--background-color);
  color: var(--text-color);

  padding-top: 20px;
  padding-left: 20px;
}
