.app {
    display: flex;
    flex-direction: column;
}

.app-header {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;

    margin-bottom: 8px;
}

.app-description {
    margin-bottom: 24px;
}

code {
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.4);
    border-style: solid;
}